@import "tailwindcss";
@import '@fontsource-variable/jetbrains-mono/wght.css';
@import '@fontsource-variable/geist-mono/wght.css';



body {
  font-family: 'Geist Mono Variable', monospace;
  color:#dee2e7;
  
}

html {
    scroll-behavior: smooth;
}

h1,h2,span {
  font-family: 'JetBrains Mono Variable', monospace;
}



p {
  margin: 0;
}

code,
.counter {
  display: inline-flex;
  border-radius: 4px;
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
}
